body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fw.wallha.com%2Fws%2F6%2F6W42eUFg.jpg&f=1&nofb=1&ipt=03f8059cc570f92eccd996f1b61a50223a142c61412e050e9c43f8ae2f5bdfba&ipo=images);
  background-size: cover;
  color: white;
}
.form-container {
  background-color: rgba(54, 52, 52, 0.573);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}


.form-label, .form-control, .form-select, .form-check-label {
  color: rgb(255, 255, 255);
}
.form-control::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.form-control {
  background-color: transparent;
  border: 1px solid white;
}
.form-control:focus {
  color: white;
  background-color: transparent;
  border-color: white;
  box-shadow: none;
}

.hobby-list {
  list-style-type: none;
  padding: 0;
}
.hobby-item {
  padding: 5px;
  background-color: #f8f9fa;
  margin-bottom: 5px;
  border-radius: 5px;
}

.title {
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 1px solid rgb(5, 5, 5);
}

.text-intense-danger {
  color: #ff0000;
  font-size: 0.875rem; 
  margin-top: 0.25rem;
}


.btn-primary {
  background-color: #191970 !important;
  border: none !important;
  color: white !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary:hover {
  background-color: #283aad !important; 
  color: #FFFFFF !important;
}

.btn-success {
  background-color: #208f97 !important;
  border: none !important;
  color: white !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-success:hover {
  background-color: #1bcfc6  !important; 
  color: #FFFFFF !important; 
}

#lista-hobbies {
  color: white;
  
}