body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    margin: 0px;
    background-color: rgb(226, 213, 211);
}

header {
    text-align: center;
    background-color: maroon ;
    padding: 20px;
    color: #fff1ff;
}

nav {
    background-color: sienna;
    overflow: hidden;
}

nav a{
    display: block;
    padding: 12px 16px;
    justify-content: center;
    float: left;
    color: snow;
    text-decoration: none;
}

nav a:hover{
    background-color: rgb(221, 143, 98);
    color: rgb(162, 207, 243);
}

main {
    margin: 50px;
    margin-bottom: 180px;
}

footer{
    text-align: center;
    background-color: saddlebrown;
    color: #fff1ff;
    padding: 16px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.imagen {
    position: absolute;
}

.imagen-caballo {
    display: flex;
    justify-content: center;
}

.imagen-caballo img {
    width: 90%;
    display: block;
}

.cajas-musica{
    padding: 10%;
    position: relative;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    background-color: rgb(190, 109, 27);
    color: #fff1ff;
    border-bottom: 3px solid #0c0c0c;
}

th {
    background-color: saddlebrown;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeria a {
    margin: 10px;
}

.galeria img {
    width: 400px;
    height: auto;
    border: 2px solid #ccc;
    transition: transform 0.3s ease-in-out;
}

.galeria img:hover {
    transform: scale(1.1);
}